<%- include ('../../partials/header') %>
<%- include ('../../partials/navbar') %>
<div class="container mt-3">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2>Categorias</h2>
            <a href="/categories/new" class="btn btn-primary">Nova Categoria</a>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titulo</th>
                        <th>Slug</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% categories.forEach(category => { %>
                        <tr>
                            <td><%= category.id %></td>
                            <td><%= category.title %></td>
                            <td><%= category.slug %></td>
                            <td>
                                <a href="/categories/edit/<%= category.id %>" class="btn btn-warning">Editar</a>
                                <a href="/categories/delete/<%= category.id %>" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>    
    </div>


<%- include ('../../partials/footer') %>